body {
    background-color: #e7e7e7;
}
.home {
    width: 30px;
    height: 30px;
}
#main-navbar{
    background-color: #e7e7e7;
    overflow: hidden;
}

#navbar-container{
    display: flex;
    float: left;
    width: 100%;
    position: relative;
}
.img {
    width: 100px;
}
  
#main-navbar ul{
    list-style-type: none;
    margin: 0.5em;
    padding: 0.5em;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#main-navbar ul li{
    font-size: 19px;
    position: relative;
    display: block; 
    padding: 0;
}
#main-navbar ul li.img {
    margin-right: auto; 
}
#navbar-container .right {
    display: flex;
    justify-content: flex-end;
}
#navbar-container .right li {
    margin-left: 2em; 
}
#main-navbar ul li a {
    display: block;
    padding: 2em;
    color: #000000;
    text-decoration: none;
    font-weight: 100;
}
#main-navbar ul li a:hover {
    color: grey;
    transform: scale(1.2);
    transition: all 0.5s;

}
#onpage {
    text-decoration: underline;
}

  